<!DOCTYPE html >
<html dir="rtl",lang="en">
  
  <style>
    .editLink a {
    color: #FFFFFF;
    text-decoration: none;
    }  
  </style>
   
<script type="text/javascript">
  function preventBack() {
      window.history.forward(); 
  }
  
  setTimeout("preventBack()", 0);
  
  window.onunload = function () { null };
</script>

</head>

<body>

  
{% extends 'base01.html' %}
{% block work2 %}

 <form  action ="updaterecordanne/{{menber.ida}}" method="POST">
  {% csrf_token  %}
  <p> تعديل </p>
  <table bordr="1">
  <p>  الرقم</p>
  <input type="text" name="ida1"  disabled value= "{{menber.ida}}" label="الكود">
 
  <p> العام الدراسي</p>
  <td><input type="text" name="anne" value="{{menber.anne}}"></td>
  
  <td> اذن ادخال فصل1
    <select type="text" name="vsem11"> 
      <option value="{{menber.vsem1}}">{% if menber.vsem1 == "oui" %} مسموح ادخال {% endif %} {% if menber.vsem1 == "non" %}  غير مسموح ادخال {% endif %} </option>
      <option value="oui">مسموح ادخال</option>
      <option value="non">غير مسموح ادخال</option></td>
  
      <td> اذن ادخال امتحان 1
        <select type="text" name="vexa11"> 
          <option value="{{menber.vexa1}}">{% if menber.vexa1 == "oui" %} مسموح ادخال {% endif %} {% if menber.vexa1 == "non" %}  غير مسموح ادخال {% endif %} </option>
          <option value="oui">مسموح ادخال</option>
          <option value="non">غير مسموح ادخال</option></td>
          <td> اذن ادخال فصل2
            <select type="text" name="vsem21"> 
              
              <option value="{{menber.vsem2}}">{% if menber.vsem2 == "oui" %} مسموح ادخال {% endif %} {% if menber.vsem2 == "non" %}  غير مسموح ادخال {% endif %} </option>
              <option value="oui">مسموح ادخال</option>
              <option value="non">غير مسموح ادخال</option></td>
              <td> اذن ادخال امتحان2
                <select type="text" name="vexa21"> 
                  <option value="{{menber.vexa2}}">  {% if menber.vexa2 == "oui" %} مسموح ادخال {% endif %} {% if menber.vexa2 == "non" %}  غير مسموح ادخال {% endif %} </option>
                  <option value="oui">مسموح ادخال</option>
                  <option value="non">غير مسموح ادخال</option></td>
  
  
  
  
  </table>
  
  
  
  
  <br>
  
  <br>

  <input type="submit" value="save"  >
  <br>
  </form>
  <br>
  <br>
  <br>
  <div class='editLink'>

  <td><a href="/app1/direct/list-anne" style="background-color: brown;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">خروج دون تسجيل</a></td>
  <br>
  <br>
  
  <td><a href="/app1/direct" style="background-color: blue;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">خروج الى اللائحة الاساسية</a></td>
  </div>  
{% endblock work2 %}


</body>
</html>