<!DOCTYPE html >
<html dir="rtl",lang="en">
  
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>اصدار بطاقات العلامات للروضات  </title>

  <style>
    .editLink a {
    color: #FFFFFF;
    text-decoration: none;
    }  
    .editLi a {
      color: #FFFFFF;
      text-decoration: none;
      }  
   #asas td {
     background-color:greenyellow;
     width=20px;
     height=10px;
    }
   #asa{
        
    background-color: silver;
   }
  label {
    background-color: silver;
    color:blue;
  }      
  #swe {
    width=50;
  }
  </style>
   
<script type="text/javascript">
  function preventBack() {
      window.history.forward(); 
  }
  
  setTimeout("preventBack()", 0);
  
  window.onunload = function () { null };
</script>

</head>

<body>
{% extends 'base01.html' %}
{% block work2 %}


<form method="POST"  >
  {% csrf_token  %}

  <table border="1" style="background-color: white";>
    
    <td colspan="4" style="background-color:yellow";>  في حال  بحثت عن اسم وادخلت علامات له سيتم تثبيت علامة هذا الاسم امامك ولا يمكن البحث عن اسم اخر الا بالخروج  </td></tr>
    <td><label> :كود المادة<input type="text" name="codmat" ></label></td>

    <td><label> :البحث باسم<input type="text" name="nom2030" value={{n0}}></label></td>
    <td><label> :والشهرة<input type="text" name="f2030" value={{f15}}></label></td>
    <td> <label> العام الدراسي </label>
         <select type="text" name="anne2030"> 
          <option value={{xa}}>{{xa}}</option>
          {% for rec101 in an %}
            <option value={{rec101.anne}}>{{rec101.anne}} </option> 
          {% endfor %}
         </select> </td>
    <td> <label> الصف   > <label>>    
       <select name="classe2030" >
        <option value={{xc}}>{{xc}}</option>
         <option value="ps1">ps1</option>
         <option value="ps2">ps2</option>
         <option value="ps3">ps3</option>
       </select> </td>
 
    <td>الشعبة <select name="section2030" ">
         <option value={{x3}}>{{x3}}</option>
         <option value="A">A</option>
         <option value="B">B</option>
         <option value="C">C</option>
         <option value="D">D</option>
         <option value="E">E</option> </select></td>
     <td>الشعبة <select name="ard2030">
          <option value="عرض فردي">عرض الكل</option>
          <option value="عرض فردي">عرض فردي</option> </select></td>
     
    <td> <input type="submit" value="اصدار بطاقات العلامات"></td>
    <td> {{rem}} </td>
    <br>
  
  </table>
</form>  
  
<br>
{% load static %}
{% if sel == "oui" %}
{% for recnom1 in recnom %} 



<table border="1" style =" background-color: white";>
  <div><td colspan="4" style="background-color:yellow";><img src="/static/image/logo1.jpg" alt="c:\pictures\logo1.jpg"  style=" border:2px  solid #4d694e"  width="100" height="50">   بطاقة العلامات المدرســـيّة    </td> </div>
       <tr>
       <td>   اسم الطالب: {{recnom1.nom1}} {{recnom1.pere1}} {{recnom1.famille1}}</td><td> </td><td> الصف: {{recnom1.classe1}} والشعبة :{{recnom1.section1}}</td>
       <td>                                           العام الدراسي :{{recnom1.anne1}}         .                                           </td>   
    
 </table>
       
   <table border="1" style =" background-color: white";>
    <td colspan="4" style="background-color:yellow";>اللغة العربية</td><tr>
    <td></td>{% if s001 != 1 %}<td> سعي أول</td>{% endif %}{% if s002 != 1 %}<td> سعي ثاني</td>{% endif %}{% if s003 != 1 %}<td>سعي ثالث </td>{% endif %}<tr>
      
    <td colspan="4"style="background-color:silver";>المجال اللغوي</td><tr>
    {% for rec1 in reco %}    <form  method="POST" action ="/app1/Adirectcarnetps/Asavenoteps/{{rec1.id}}/{{rec1.anne1}}/{{rec1.classe1}}/{{rec1.section1}}/{{rec1.nom1}}/{{rec1.famille1}}"> {% csrf_token  %}


        {% if rec1.code1 == recnom1.code1 %}     
           {% if rec1.groupe == "اللغة العربية" %} 
                 {% if rec1.champ == "المجال اللغوي" %} 
                                 
                  <td>{{rec1.souschamp}}</td>{% if s001 != 1 %}<td> <select  name="sem1" >
                  <option value={{rec1.sem1}}>{{rec1.sem1}}</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option></select></td>{% endif %}{% if s002 != 1 %}<td> <select name="sem2">
                    <option value={{rec1.sem2}}>{{rec1.sem2}}</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option></select></td>{% endif %}{% if s003 != 1 %}<td> <select name="sem3" >
                      <option value={{rec1.sem3}}>{{rec1.sem3}}</option>
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option></select></td>{% endif %}  <td style="background-color:gray";> <input type="submit"  value="  حفظ العلامات  "></td>
                      <tr>
                  {% endif %} {% endif %} {% endif %}</form> {% endfor %}


     <td colspan="4" style="background-color:silver";>المجال الحسي الحركي</td><tr>
                    {% for rec1 in reco %}
                        <form  method="POST" action ="/app1/Adirectcarnetps/Asavenoteps/{{rec1.id}}/{{rec1.anne1}}/{{rec1.classe1}}/{{rec1.section1}}/{{rec1.nom1}}/{{rec1.famille1}}"> 
                          {% csrf_token  %}

                        {% if rec1.code1 == recnom1.code1 %}     
                           {% if rec1.groupe == "اللغة العربية" %} 
                                 {% if rec1.champ == "المجال الحسي الحركي" %} 
                                   <td>{{rec1.souschamp}}</td>
                                   {% if s001 != 1 %}<td> <select name="sem1">
                                       <option value={{rec1.sem1}}>{{rec1.sem1}}</option>
                                       <option value="A">A</option>
                                       <option value="B">B</option>
                                       <option value="C">C</option></select></td>
                                   {% endif %} 
                                   {% if s002 != 1 %}
                                       <td> <select name="sem2">
                                        <option value={{rec1.sem2}}>{{rec1.sem2}}</option>
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option></select></td>
                                    {% endif %}
                                    {% if s003 != 1 %}<td> <select name="sem3">
                                         <option value={{rec1.sem3}}>{{rec1.sem3}}</option>
                                         <option value="A">A</option>
                                         <option value="B">B</option>
                                         <option value="C">C</option></select></td>
                                    {% endif %}
                                       <td style="background-color:gray";> <input type="submit"  value="  حفظ العلامات  "></td>
 
                                         <tr>
                                  {% endif %}
                             {% endif %} 
                        {% endif %}
                       </form>
                      {% endfor %}
     <td colspan="4" style="background-color:silver";>المجال العلمي</td><tr>
                                    {% for rec1 in reco %}    <form  method="POST" action ="/app1/Adirectcarnetps/Asavenoteps/{{rec1.id}}/{{rec1.anne1}}/{{rec1.classe1}}/{{rec1.section1}}/{{rec1.nom1}}/{{rec1.famille1}}"> {% csrf_token  %}

                                        {% if rec1.code1 == recnom1.code1 %}     
                                           {% if rec1.groupe == "اللغة العربية" %} 
                                                 {% if rec1.champ == "المجال العلمي" %} <td>{{rec1.souschamp}}</td>
                                                 {% if s001 != 1 %}<td> <select name="sem1">
                                                 <option value={{rec1.sem1}}>{{rec1.sem1}}</option>
                                                 <option value="A">A</option>
                                                 <option value="B">B</option>
                                                 <option value="C">C</option></select></td>{% endif %}{% if s002 != 1 %}
                                                 <td> <select name="sem2">
                                                   <option value={{rec1.sem2}}>{{rec1.sem2}}</option>
                                                   <option value="A">A</option>
                                                   <option value="B">B</option>
                                                   <option value="C">C</option></select></td>{% endif %}{% if s003 != 1 %}
                                                   <td> <select name="sem3">
                                                     <option value={{rec1.sem3}}>{{rec1.sem3}}</option>
                                                    <option value="A">A</option>
                                                    <option value="B">B</option>
                                                     <option value="C">C</option></select></td>{% endif %}<td style="background-color:gray";> <input type="submit"  value="  حفظ العلامات  "></td>

                                                       <tr>
                                                  {% endif %} {% endif %} {% endif %}</form> {% endfor %}
    <td colspan="4" style="background-color:silver";>المجال الاجتماعي</td><tr>
                                                    {% for rec1 in reco %}    <form  method="POST" action ="/app1/Adirectcarnetps/Asavenoteps/{{rec1.id}}/{{rec1.anne1}}/{{rec1.classe1}}/{{rec1.section1}}/{{rec1.nom1}}/{{rec1.famille1}}"> {% csrf_token  %}

                                                        {% if rec1.code1 == recnom1.code1 %}     
                                                           {% if rec1.groupe == "اللغة العربية" %} 
                                                                 {% if rec1.champ == "المجال الاجتماعي" %} <td>{{rec1.souschamp}}</td>{% if s001 != 1 %}<td> <select name="sem1">
                                                                  <option value={{rec1.sem1}}>{{rec1.sem1}}</option>
                                                                  <option value="A">A</option>
                                                                  <option value="B">B</option>
                                                                  <option value="C">C</option></select></td>{% endif %}{% if s002 != 1 %}<td> <select name="sem2">
                                                                    <option value={{rec1.sem2}}>{{rec1.sem2}}</option>
                                                                    <option value="A">A</option>
                                                                    <option value="B">B</option>
                                                                    <option value="C">C</option></select></td>{% endif %}{% if s003 != 1 %}<td> <select name="sem3">
                                                                      <option value={{rec1.sem3}}>{{rec1.sem3}}</option>
                                                                      <option value="A">A</option>
                                                                      <option value="B">B</option>
                                                                      <option value="C">C</option></select></td>{% endif %}<td style="background-color:gray";> <input type="submit"  value="  حفظ العلامات  "></td>

                                                                        <tr>
                                                                  {% endif %} {% endif %} {% endif %} </form>{% endfor %}
                                                     
<td colspan="4" style="background-color:silver";>المجال الفني</td><tr>
    {% for rec1 in reco %}    <form  method="POST" action ="/app1/Adirectcarnetps/Asavenoteps/{{rec1.id}}/{{rec1.anne1}}/{{rec1.classe1}}/{{rec1.section1}}/{{rec1.nom1}}/{{rec1.famille1}}"> {% csrf_token  %}

        {% if rec1.code1 == recnom1.code1 %}     
           {% if rec1.groupe == "اللغة العربية" %} 
                 {% if rec1.champ == "المجال الفني" %} <td>{{rec1.souschamp}}</td>{% if s001 != 1 %}<td> <select name="sem1">
                  <option value={{rec1.sem1}}>{{rec1.sem1}}</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option></select></td>{% endif %}{% if s002 != 1 %}<td> <select name="sem2">
                    <option value={{rec1.sem2}}>{{rec1.sem2}}</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option></select></td>{% endif %}{% if s003 != 1 %}<td> <select name="sem3">
                      <option value={{rec1.sem3}}>{{rec1.sem3}}</option>
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option></select></td>{% endif %}<td style="background-color:gray";> <input type="submit"  value="  حفظ العلامات  "></td>
                      <tr>
                  {% endif %} {% endif %} {% endif %} </form>{% endfor %}



                                                                                
  
</table>
  
{% endfor %}
   
{% endif %}
<br>
<br>
<p>  </p>
<div class='editLink'>
<br>
<button onclick="window.print()"> طباعة  pdf </button>
<br>
<a href="/app1/directmaitre" style="background-color: blue;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">خروج الى اللائحة الاساسية</a>

</div>
{% endblock work2 %}



</body>
</html>  
