<!DOCTYPE html >
<html dir="rtl",lang="en">
 
  
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>اصدار النتائج الرسمية مع المعدلات
      </title>

  <style>
    .editLink a {
    color: white;
    text-decoration: none;
    }  
  </style>
  
<script type="text/javascript">
  function preventBack() {
      window.history.forward(); 
  }
  
  setTimeout("preventBack()", 0);
  
  window.onunload = function () { null };
</script>
 
</head>

<body>



  
  {% extends 'base01.html' %}

{% block work2 %}
<form method="POST">
  {% csrf_token  %}
  <p> طلب دخول الى العلامات</p>
  <br>

  <table border="1" style="background-color: white";>
   <td> <label> كلمة السر: <input type="text" name="user2030"> </label></td>
    <td> <label> العام الدراسي <select type text name="anne2030"  > <label>>
         {% for rec11 in rec0 %}
           <option value={{rec11.anne}}>{{rec11.anne}} </option> 
         {% endfor %}
        </select> </td>
    <td> <label> الصف   > <label>>    
      <select name="classe2030">
        <option value="eb1">eb1</option>
        <option value="eb2">eb2</option>
        <option value="eb3">eb3</option>
        <option value="eb4">eb4</option>
        <option value="eb5">eb5</option>
        <option value="eb6">eb6</option>
        <option value="eb7">eb7</option>
        <option value="eb8">eb8</option>
        <option value="eb9">eb9</option>
        <option value="sec-sc">seconde-sc</option>
        <option value="bacc1-sc">bacc1-sc</option>
        <option value="bacc1-l">bacc1-l</option>
        <option value="sg">sg</option>
        <option value="sv">sv</option>
        <option value="se">se</option>
        <option value="lh">LH</option>
    
      </select> </td>

      <td>الشعبة <select name="section2030">
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option> </select></td>
       

     <td><input type="submit" value="اصدار المعدلات"></td>
     <td> {{rem}} </td>
     <br>
</form>
  
<br>
<br>
<br>
<br>
<br>
<br>


<p>  </p>
<div class='editLink'>
<a href="/app1/direct"  style="background-color: silver;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">خروج الى اللائحة الاساسية</a>
</div>  
{% endblock work2 %}



</body>
</html>
