<!DOCTYPE html >
<html dir="rtl",lang="en">
  
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>  ادخال العلامات من قبل معلم المادة  </title>




<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.editLink a {
    color: #FFFFFF;
    text-decoration: none;
    }  
    .editLi a {
      color: #FFFFFF;
      text-decoration: none;
      }  
   .c1 td {
     background-color:greenyellow;
   }
   #asa{
        
    background-color: silver;
   }
      
  </style>
   
<script type="text/javascript">
  function preventBack() {
      window.history.forward(); 
  }
  
  setTimeout("preventBack()", 0);
  
  window.onunload = function () { null };
</script>

<script>
  function gotto(){
   var element = document.getElementById("message");
  element.scrollIntoView();
  }
  </script>


<script>
  function myFunction() {
    alert("أدخلت علامة غير مقبولة بسبب كبرها خطأ");
  }
  </script>
  
</head>

<body>  
  {% extends 'base01.html' %}



{% block work2 %}
<form method="POST"  >
  {% csrf_token  %}
  <table border="1" style="background-color: silver";>
  
  <td>
   رمـــز المادة
  <input type="password" name="codematie" value={{codema}} onchange="this.form.submit();return false;"></td>
        <td>
         الشهر 
    
    
    
    <select type= "number" name="month">
      <option value={{xmonth}} >{{xmonth}}{{mx}}</option>    
      {% for u in st %} {% if u.nombremy < 2 %}
      <option value={{u.code}}>{{u.mois}}</option> {% endif %}
      {% endfor %}
     </select>
    
    </td>
    <td>
    <input type="submit" value=" ادخال علامات الطلاب "></td><tr>
      <td>العام : {{sx85anne}}</td>
 
      <td colspan="2"></td>  </table>
  </form>  
  <br>
  

  <table border="1" style="background-color: white";>
  <div id="asa" classe="c1" >
  <td style="background-color:yellow"; >العام</td>
    
  <td style="background-color:yellow";>الصف </td>
  <td style="background-color:yellow";>الشعبة</td>
  <td style="background-color:yellow";>الشهر</td>
  <td style="background-color:yellow";>الاسم</td>
  <td style="background-color:yellow";>الاب</td>
  <td style="background-color:yellow";>الشهرة</td>
  
    <td style="background-color:yellow";></td>
    <td style="background-color:yellow";> {{n1}}<br>{{n2}}<br>{{n3}}<br>{{n4}} / {{scorem}} </td>

  <td style="background-color:white";>{{passw}} </td>
  </div> 
  {% for rec1 in reco %}

  <form method="POST" action ="/app1/eleve1notemaitre/updatenotemaitre/{{rec1.id}}/{{nomat}}/a/{{codema}}/{{xmonth}}">   
     {% csrf_token  %}

      
      
      
   <tr>
    <td>{{rec1.anne1}}</td>
    <td>{{rec1.classe1}}</td>
    <td>{{rec1.section1}}</td>
    <td>{{rec1.mois}}</td>
    <td>{{rec1.nom1}}</td>
    <td>{{rec1.pere1}}</td>
    <td>{{rec1.famille1}}</td>
    
 


    {% if rec1.id == ii %}
      
    <td id="message" style="background-color: green;">&nbsp</td>
  
  {% endif %}
  {% if rec1.id != ii %}
  
    <td id="message111" style="background-color:bisque;">&nbsp</td>
  
  {% endif %}
  







    {% if nomat == 'math' %}
      <td align="center" ><label><input type="number"   name="notexxl"   maxlength=7 value={{rec1.math}}   onchange="this.form.submit();return false"></label></td>
      
    {% endif %}
    {% if nomat == 'physique' %}
      <td><label><input type="number" name="notexxl" value={{rec1.physique}} maxlength=7 onchange="this.form.submit();return false"></label></td>
    {% endif %}
    {% if nomat == 'chimie' %}
       <td><input type="number" name="notexxl" value={{rec1.chimie}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'bio' %}
      <td><input type="number" name="notexxl" value={{rec1.bio}}  maxlength=7 onchange="this.form.submit();return false" ></td>
    {% endif %}
    {% if nomat == 'arab1' %}
      <td><input type="number" name="notexxl" value={{rec1.arab1}}  maxlength=7 onchange="this.form.submit();return false" ></td>
    {% endif %}
    {% if nomat == 'arab2' %}
      <td><input type="number" name="notexxl" value={{rec1.arab2}} maxlength=7 onchange="this.form.submit();return false" ></td>
    {% endif %}
    {% if nomat == 'arab3' %}
      <td><input type="number" name="notexxl" value={{rec1.arab3}}  maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'francais1' %}
      <td><input type="number" name="notexxl" value={{rec1.francais1}} maxlength=7  onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'francais2' %}
      <td><input type="number" name="notexxl" value={{rec1.francais2}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'francais3' %}
      <td><input type="number" name="notexxl" value={{rec1.francais3}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'eng' %}
      <td><input type="number" name="notexxl" value={{rec1.eng}}  maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'civisme' %}
      <td><input type="number" name="notexxl" value={{rec1.civisme}} maxlength=7 onchange="this.form.submit();return false" ></td>
    {% endif %}
    {% if nomat == 'historique' %}
      <td><input type="number" name="notexxl" value={{rec1.historique}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'geographie' %}
      <td><input type="number" name="notexxl" value={{rec1.geographie}}  maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'economie' %}
      <td><input type="number" name="notexxl" value={{rec1.economie}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'socialite' %}
      <td><input type="number" name="notexxl" value={{rec1.socialite}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'philosophie' %}
      <td><input type="number" name="notexxl" value={{rec1.philosophie}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'informatique' %}
      <td><input type="number" name="notexxl" value={{rec1.informatique}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'art' %}
      <td><input type="number" name="notexxl" value={{rec1.art}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'religieu' %}
      <td><input type="number" name="notexxl" value={{rec1.religieu}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'sport' %}
     <td><input type="number" name="notexxl" value={{rec1.sport}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'matiere1' %}
     <td><input type="number" name="notexxl" value={{rec1.matiere1}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'matiere2' %}
     <td><input type="number" name="notexxl" value={{rec1.matiere2}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'matiere3' %}
     <td><input type="number" name="notexxl" value={{rec1.matiere3}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'matiere4' %}
     <td><input type="number" name="notexxl" value={{rec1.matiere4}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'matiere5' %}
     <td><input type="number" name="notexxl" value={{rec1.matiere5}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'matiere6' %}
     <td><input type="number" name="notexxl" value={{rec1.matiere6}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    {% if nomat == 'matiere7' %}
     <td><input type="number" name="notexxl" value={{rec1.matiere7}} maxlength=7 onchange="this.form.submit();return false"></td>
    {% endif %}
    
  
    
    
 
   </tr>
   {% if message == "oui" %} <body onload=myFunction()></body> {% endif %}

    </form>
      {% endfor %}
</table>

<br>

<p>  </p>
<div class='editLink'>


<td><a href="{% url 'bord'%}" style="background-color: rgb(98, 187, 171);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">خروج الى اللائحة الاساسية</a></td>
</div>

<body onload="gotto();"></body>

{% endblock work2 %}



</body>
</html>  
  