<!DOCTYPE html >
<html dir="rtl",lang="en">
 
  
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> السماح او عدم سماح اظهار علامات كل الصفوف </title>

  <style>

  </style>
   
<script type="text/javascript">
  function preventBack() {
      window.history.forward(); 
  }
  
  setTimeout("preventBack()", 0);
  
  window.onunload = function () { null };
</script>

</head>

<body>



  
{% extends 'base01.html' %}

{% block work2 %}

<td><a href="hidetou" style="background-color: rgb(239, 219, 227) " ;>حجب علامات جميع الطلاب</a></td> 
<td>&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp &nbsp </td>
<td><a href="afftou" style="background-color: rgb(0, 255, 51) " ;>اظهار علامات جميع الطلاب</a></td> 
<td>&nbsp &nbsp&nbsp &nbsp&nbsp &nbsp &nbsp </td>

<td><a href="/app1/direct"  style="background-color: rgb(200, 126, 126);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">خروج الى اللائحة الاساسية</a></td>

<br><br><br><br>


<form method="POST">
  {% csrf_token  %}

  <table  border="1" style="background-color:yellow";>
    <td> الصف المراد اظهار علامته</td>
    
    
      <td>    العام الدراسي 
         <select type="text" name="anne08"> 
            <option value={{a}} >{{a}}</option>
            {% for anx in anrec %}
              <option value={{anx.anne}}>{{anx.anne}}</option>
             {% endfor %} </select>
         </td>
    
    <td>الصف
   <select name="classe08">
    
    <option value={{c}} >{{c}}</option>
    <option value="ps1">ps1</option>
    <option value="ps2">ps2</option>
    <option value="ps3">ps3</option>
   
   
    <option value="eb1">eb1</option>
   <option value="eb2">eb2</option>
   <option value="eb3">eb3</option>
   <option value="eb4">eb4</option>
   <option value="eb5">eb5</option>
   <option value="eb6">eb6</option>
   <option value="eb7">eb7</option>
   <option value="eb8">eb8</option>
   <option value="eb9">eb9</option>
   <option value="sec-sc">seconde-sc</option>
   <option value="bacc1-sc">bacc1-sc</option>
   <option value="bacc1-l">bacc1-l</option>
   <option value="sg">sg</option>
   <option value="sv">sv</option>
   <option value="se">se</option>
   <option value="lh">LH</option>

 </select> </td>
 <td>
الشعبة
<select name="section08">
  <option value={{s}} >{{s}}</option>

  <option value="A">A</option>
 <option value="B">B</option>
 <option value="C">C</option>
 <option value="D">D</option>
 <option value="E">E</option> </select> </td>
 <td>
  <select name="aff">
    <option value={{af}} >{{af}}</option>
    <option value="حجب علامة" >حجب علامة</option>
    <option value="اظهار علامة">اظهار علامة</option></select>
  
 </td>


  <td>
  <input type="submit" value="اظهر/احجب"></td>

 

</table>
<br>
<table border="4">
<td style="background-color:yellow";>العام</td>
<td style="background-color:yellow";>الاسم</td>
<td style="background-color:yellow";>الاب</td>
<td style="background-color:yellow";>الشهرة</td>
<td style="background-color:yellow";>الصف</td>
<td style="background-color:yellow";>الشعبة</td>
<tr>
  {% for i in rec %} {% if i.code == 1 %}
<td style="background-color:azure";>{{i.anne1}}</td>
<td style="background-color:azure";>{{i.nom1}}</td>
<td style="background-color:azure";>{{i.pere1}}</td>
<td style="background-color:azure";>{{i.famille1}}</td>
<td style="background-color:azure";>{{i.classe1}}</td>
<td style="background-color:azure";>{{i.section1}}</td>
<td style="background-color:azure";>{{af}}</td>

<tr>
{% endif %}
  {% endfor %}

</table>







</form>





<br><br><br>
<td><a href="/app1/direct"  style="background-color: brown;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">خروج الى اللائحة الاساسية</a></td>
</div>  




{% endblock work2 %}



</body>
</html>
