<html dir="rtl",lang="en">
  
  <style>
    .editLink a {
    color: #FFFFFF;
    text-decoration: none;
    }  
  </style>
   
<script type="text/javascript">
  function preventBack() {
      window.history.forward(); 
  }
  
  setTimeout("preventBack()", 0);
  
  window.onunload = function () { null };
</script>

</head>

<body>

{% extends 'base01.html' %}
{% block work2 %}

<form   method="POST">
  {% csrf_token  %}
 <table>
  
  

<p>  <input type="submit" value="save"  ></p>

  <br>
  </form>
  <br>
  <br>
  <br>
  <div class='editLink'>

  
  <br>
<br>

<td><a href="/app1/direct" style="background-color: blue;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">خروج الى اللائحة الاساسية</a></td>
  </div>
{% endblock work2 %}


</body>
</html>